.first_img
{
  background-image:url(helthycare.jpeg) ;
  width:1000px;
  height:500px;
  margin-left: 50px;
  background-size:cover;
  border-bottom-left-radius:40px; 
  border-bottom-right-radius:40px;
}
.medicalclinic
{
  background-color: blue;
  padding-right:30px ;
  padding-left:50px;
  border-bottom-right-radius:30px;
  border-top-left-radius:30px;
  font-size: 70px;
  color:white;
 text-align: center;
 padding-left: 5px;
 padding-right:5px;
 padding-top:5px;
 padding-bottom:5px;
 margin-left:100px;
 margin-right:100px;
margin-top:-50px;
}
.three
{
background-color: aqua;
padding-right:30px;
padding-left:30px;
font-size:30px;
color:white;
text-align: center;
padding-left: 10px;
 padding-right:10px;
 padding-top:10px;
 padding-bottom:10px;
 margin-left: 200px;
 margin-right: 200px;
margin-top:-17px;
}
.second_img
{
  background-image:url(vacination.jpeg) ;
  width:300px;
  height:200px;
  margin-left:850px;
  background-size:cover;
  border-bottom-left-radius:15px; 
  border-bottom-right-radius:15px;
  margin-top:-172px; 
}
.ourservices
{
  background-color: blue;
  border-top-left-radius:15px;
  font-size: 30px;
  color:white;
 text-align:right;5px;
 padding-left: 5px;
 padding-right:12px;
 padding-top:5px;
 padding-bottom:5px;
 margin-left:829px;
 margin-right:199px;
margin-top:0px;
} 
.loremipsum
  {
    background-color:aqua;
    font-size: 10px;
    color: white;
    text-align: right;
    padding-left: 50px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 855px;
    margin-right: 199px;
    margin-top: 0px
  } 
 .about
 {
  color:blue;
  font-size:small;
  text-align:left;
  padding-right:30px;
 }
 .covid
 {
  color: blue;
  font-size: xx-large;
  text-align: right;
  padding-right: 497px;
  margin-top: -346px;
  margin-right: 61px;
 }
 .icon
 {
  margin-inline:50px;
 }